<h1>Index of Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>

      <input type="checkbox" name="task" <%= "checked" if task.completed %>>
      <%= link_to "#{task.title}", task_path(task) %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to 'Add Task', new_task_path %>
</p>